In [1]:
import pandas as pd
import yfinance as yf

In [2]:
class FinanceData():
    """
    Initializes the FinanceData object with the provided stock ticker, start date, and end date.
    Calls the getdata() method to download the financial data.

    Parameters:
    ticker (str): The stock ticker symbol.
    start (str): The start date for the financial data - in the format 'YYYY-MM-DD'.
    end (str): The end date for the financial data - in the format 'YYYY-MM-DD'.
    """
    def __init__(self, ticker, start, end):
        """
        Initializes the FinanceData object with the provided stock ticker, start date, and end date.
        Calls the getdata() method to download the financial data.

        Parameters:
        ticker (str): The stock ticker symbol.
        start (str): The start date for the financial data - in the format 'YYYY-MM-DD'.
        end (str): The end date for the financial data - in the format 'YYYY-MM-DD'.
        """
        self.ticker = ticker
        self.start = start
        self.end = end
        self.getdata()
    
    def __repr__(self):
        """
        Returns a formatted string representation of the FinanceData object,
        showing the stock ticker, start date, and end date.
        """
        return 'FinanceData for ticker {} from {} to {}'.format(self.ticker,
                                                                self.start,
                                                                self.end)
        
    def getdata(self):
        """
        Downloads the financial data from Yahoo Finance for the specified stock ticker(s)
        between the start and end dates using the yfinance library. Stores the data in
        the self.data attribute of the FinanceData object.
        """
        stock = yf.download(self.ticker, self.start, self.end)
        # if len(self.ticker) == 1:
        #     stock = stock.to_frame()
        #     stock.rename(columns = {'Adj Close' : str(self.ticker[0])}, inplace = True)
        self.data = stock
    
    def csv(self):
        """
        Writes the financial data to a CSV file named 'data.csv'.
        """
        self.data.to_csv('data.csv')

In [3]:
# MSFT: Microsoft, JPM: JPMorgan Chase, NKE: Nike, MRO: Marathon Oil , BA: Boeing
stocks_list = ['^IBEX']#, '^GDAXI', '^DJI']

In [16]:
# fetching the data for the stocks_list and index_list from a given start and end date
start_date = '2011-01-01'
end_date = '2020-01-01'

# open, high, low, close dataframes
df_ohlc = FinanceData(stocks_list, start_date, end_date).data

[*********************100%***********************]  1 of 1 completed

In [20]:
df_ohlc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,9899.400391,9993.599609,9850.500000,9888.299805,9888.290039,135778000
2011-01-04,9895.500000,9974.200195,9799.400391,9888.400391,9888.390625,194824000
2011-01-05,9877.500000,9882.400391,9599.299805,9801.400391,9801.390625,241101000
2011-01-06,9803.200195,9832.599609,9678.400391,9702.700195,9702.690430,179999000
2011-01-07,9682.400391,9699.400391,9497.799805,9560.700195,9560.690430,268083000
...,...,...,...,...,...,...
2019-12-23,9650.200195,9670.900391,9639.000000,9659.599609,9659.599609,119328700
2019-12-24,9632.099609,9661.799805,9607.799805,9661.799805,9661.799805,35436200
2019-12-27,9673.000000,9700.500000,9657.500000,9700.500000,9700.500000,103106600
2019-12-30,9672.500000,9682.099609,9612.599609,9612.599609,9612.599609,95100900
2019-12-31,9564.900391,9564.900391,9518.500000,9549.200195,9549.200195,62697500

In [21]:
df_ohlc.to_csv('data/ibex.csv')